@import "~bulma";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  
  cursor: pointer;
}
p, div, button {
  color: white;
  font-family: 'Comfortaa', sans-serif;
}
.section {
  background-color: black;
  padding-top: 150px;
  .section__title {
    font-size: 2em;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    width: max-content;
    border-radius: 1em;
    margin-bottom: 1em;
  }

}
@keyframes rotateWheel {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}